BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
BracedInitializerIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0
SortIncludes: Never
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Pointer
AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
  BeforeCatch: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
